/target
**/target/
.idea/
node_modules/
bench/data/
bench/node_modules/
/website/build/
/website/.docusaurus/
/website/node_modules/
/website/docs/
/website/static/api/
/website/static/wasm/
/bindings/node/keyhammer.wasm
